<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"].ToString()
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"].ToString()
        </div>
    }

    <br />

    <div class="container">
        <p><i>This is another test of the continuous deployment platform AppHarbor, it's data connectivity through SQL Server (yacto instance), entity framework 6 and the latest version of Bootstrap. It doesn't do anything special :)</i></p>

        <div class="panel panel-primary">
            <div class="panel-heading"><h1>@ViewBag.Title</h1></div>

            <div class="frame">
                <br />
                @RenderBody()
                <br />
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
